<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
    <style>
        ul {
            list-style-type: none; /* Remove bullets */
        }
    </style>
</head>
<body>
    <h1>Image Gallery</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="text" name="description" placeholder="Description">
        <input type="submit" value="Upload">
    </form>
    <ul>
        <% images.forEach(image => { %>
            <li>
                <img src="/uploads/<%= image.filename %>" alt="<%= image.description %>" width=500px>
                <p><%= image.description %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>

